.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html {
  min-width: 300px;
}


.main_container{
	width: 60%;
	margin: 2em auto;
	position: relative;
	border: 3px solid #0b838b;
	clear:both;
	padding: 0.5em;
}

header{
	background-color: #0b838b;
	text-align: center;
	margin: 0 auto;
	padding: 0.2em;	
}
h1{
	font-size: 16px;
	color: #e3dede;
}
.items_insertion{
	margin:0;
	list-style: none;
	padding: 0;
}
.items_insertion li{
	width: 100%;
	margin-top: 1em;
}

.list_items, .bottom_fields{
	list-style: none;
	padding: 0;
}
.list_items li{
	background-color: #0b838b;
	padding:0.5em 0;
	width: 100%;
	color: #e3dede;
	font-weight: bold;
	text-indent: 5px; 
	margin-top: 1em;
}
.bottom_fields li{
	margin-top: 1em;

}

input[type="text"], input[type="number"],input[type="button"]{
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #ccc;
        background:#e3dede;
        padding:0.5em ;
        color: #0b838b;
	    font-weight: bold;
}



#total{
	border: 1px solid #ccc;
    background:#e3dede;
    padding:0.5em ;
    color: #999;
	font-weight: bold;
    width:8em;	
}
input[type="button"]{
	background-color: #0b838b;
	padding:0.5em;
	color: #e3dede;
	font-weight: bold;
	height: 40px;
	width:10em;  
}

img{
	width:20px;
	margin-right:1em;
}
.cart-icon{
	display: none;
}
span.img_box{
	float: right;
	
}


input[type="checkbox"] {
    width:19px;
    height:19px;
    margin-right: 1em;
    cursor:pointer;
}

input.hidden{
	border: 1px solid #ccc;
    background:#e3dede;
    padding:0.5em ;
    color: #999;
	font-weight: bold;
    width:8em;	
}
@media (min-width:700px) {
.cart-icon{
	display: inline;
	width:3em;
	margin-right: 2px;
}

.right-ico{
	margin-left:20px;
}

.left-ico{
	margin-left:20px;
}
@media screen and (min-width: 700px) and (max-width: 1000px) { 
.items_insertion{
	padding: 0;
	width: 100%;
	
}

.items_insertion li{
	display: inline-block;
	margin-right:10px;
	width:6em;
}

}
.items_insertion li{
	display: inline-block;
	margin-right:20px;
	width:10em;
}


.list_items{
	margin-top:5em;	 
}

.bottom_fields{
   list-style: none;

}

.bottom_fields li:last-child{
    margin-top: 2em;
}



}


@media (min-width: 1024px) {
.main_container{
	border: none;
/*border: 1px solid red;*/
}


header{
	padding: 0.3em;
}

h1{
	font-size: 22px;
}

.items_insertion li{
	display: inline-block;
	
}

.items_insertion li:last-child{
      float: right; 
      margin-right: 0px;
}



}

